<settings>
    
    <setting propertyKey="@Properties.dueDateYear" title="@Strings.dueDateYear">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.dueDateMonth" title="@Strings.dueDateMonth">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.dueDateDay" title="@Strings.dueDateDay">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.printHeckWord" title="@Strings.printHeckWord">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.printTimeToGo" title="@Strings.printTimeToGo">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.accentColor" title="@Strings.accentColor">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Green</listEntry>
            <listEntry value="2">@Strings.Blue</listEntry>
            <listEntry value="3">@Strings.Red</listEntry>
            <listEntry value="4">@Strings.Pink</listEntry>
            <listEntry value="5">@Strings.Orange</listEntry>
            <listEntry value="6">@Strings.Purple</listEntry>
        </settingConfig>
    </setting>
</settings>
